{{# each products }}
    <div class="row mt-3">
        {{# each this }}
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="{{ this.imgPath }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ this.title }}</h5>
                        <p class="card-text">{{ this.description }}</p>
                        <span>$ {{ this.price }}</span>
                        <a href="#" class="btn btn-outline btn-success float-right">Buy</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}